
.section-employees__content {
    padding: 0 10px;
}

.section-employees__title {
    padding: 10px;
    font-size: 24px;
}

.employees > p{
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.employees > p:hover{
    color: #5D5C61;
}
.employees__profile {
    padding: 10px;
    border: 1px solid rgba(255,255,255, 0.5);
    border-radius: 10px;
}

.employees__desc {
}

.employees__desc > p{
    padding: 3px;
}
.employees__profile > img{
    max-width: 350px;
    border-radius: 30px;
}