
.section-enrollee__content {
    border-radius: 10px;
}

.section-enrollee__title {
    padding: 10px;
    font-size: 24px;
}

.section-enrollee__desc {
    padding: 10px;
}

.section-enrollee__info {
    padding: 10px;
    border-radius: 30px;
}

.section-enrollee__info:not(:last-child) {
    margin-bottom: 10px;
}

.section-enrollee__info > h3 {
    padding: 10px;
}

.section-enrollee__list {
    padding: 3px 10px;
}

.section-enrollee__science {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.section-enrollee__img-science {
    position: relative;
    width: 300px;
    height: 300px;
}

.photo1 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    max-width: 250px;
    max-height: 250px;
    z-index: 1;
}

.photo2 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    max-width: 250px;
    max-height: 250px;
    z-index: 0;
}

.section-enrollee__desc-science {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    padding: 10px;
}