.footer {
    background-color: #212121;
    padding: 0 30vh;
    margin-top: 10px;
}

.footer-top {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-top__left {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    min-width: 300px;
    max-width: 300px;
}

.footer-top__item {
    display: block;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
    position: relative;
}

.footer-top__item:not(:last-child) {
    margin-bottom: 10px;
}

.footer-top__mid {
    display: flex;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-left: 10px;
}

.footer-top__mid > a {
    border-radius: 10px;
    padding: 10px;
}

.footer-top__mid > a > img {
    border-radius: 10px;
}

.footer-top__right {
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255, 0.5);
    padding: 10px;
    margin-left: 10px;
}

.footer-top__partners {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-top__content {
    border-radius: 10px;
    margin: 5px;
}

.footer-top__content > a {
    border-radius: 10px;
    padding: 10px;
}

.footer-top__content > a > img {
    border-radius: 10px;
}

.footer-bot {
    padding: 10px 0;
}

.footer-bot__list {
    display: flex;
}

.footer-bot__item {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
    position: relative;
}

.footer-bot__item:not(:last-child) {
    margin-right: 10px;
}