
.section-main__content{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 10px;
}
.section-main__content:not(:last-child){
    margin-bottom: 10px;
}
.section-main__logo {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.section-main__title{
    padding: 10px;
    font-size: 30px;
}
.block{
    display: block;
    align-items: center;
    text-align: left;
}
.block > h3{
    padding: 5px;
    font-size: 18px;
}
.block > p{
    padding: 5px;
}