.navbar{
    padding-top: 10px;
    width: 300px;
    min-width: 300px;
}

.navbar__img{
    display: flex;
}

.navbar__img > img{
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
.navbar__item{
    display: block;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    transition: all 0.3s;
    position: relative;
}
.navbar__item:not(:last-child){
    margin-bottom: 12px;
}
.navbar__news{
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255, 0.5);
    padding: 12px;
    margin-top: 15px;

}
.navbar__news > h3{
    font-size: 24px;
    padding-bottom: 10px;
}
.news-content{
}

.navbar__item{

}
.navbar__title {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: right;
}

.navbar__desc {
    padding-top: 10px;
    text-align: left;
}
