
.section-news__content {
    border-radius: 10px;
}

.section-news__title {
    padding: 10px;
    font-size: 24px;
}

.news {
    padding: 10px;
}

.section-news-title {
    cursor: pointer;
    font-size: 32px;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.section-news-title:hover {
    color: #5D5C61;
}

.section-news-content {
    padding: 10px;
    border: 1px solid rgba(255,255,255, 0.5);
    border-radius: 10px;
}

.section-news-content__title {
    text-align: center;
}

.section-news-content > img {
    max-width: 100vh;
    border-radius: 10px;
    padding: 10px 0;
}

.section-news-content > p {
    margin-bottom: 10px;
}

.section-news-content > ul {
    margin-bottom: 10px;
}