html {
    font-family: sans-serif;
    color: white;
}

body {
    background-color: #557A95;
}

.App {
    padding: 10px 30vh;
}

.main {
    display: flex;
    background-color: #7395AE;
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}

.content {
    flex-grow: 1;
    margin-left: 10px;
    background-color: #557A95;
    border-radius: 30px;
}

.hr {
    background-color: black;
    height: 1px;
}

a {
    transition: all 0.3s;
}

a:hover {
    color: #5D5C61;
}

.btn-effect::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    transition: all 0.3s;
}

.btn-effect:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.btn-effect::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    border-radius: 30px;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
}

.btn-effect:hover::after {
    cursor: pointer;
    opacity: 1;
    border-radius: 30px;
    transform: scale(1, 1);
}

.btn-effect:active{
    transform: scale(0.8,0.8);
}

